* body {
  color: rgb(156, 7, 144);
}
body nav a.navbar-brand {
  font-family: "Edu VIC WA NT Beginner";
  font-weight: bold;
  color: rgb(156, 7, 144);
}

body nav {
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

nav div.collapse ul li a {
  font-family: "Edu VIC WA NT Beginner";
  color: rgb(156, 7, 144);
  font-weight: bold;
  font-size: large;
}

nav div.collapse ul li a:hover {
  font-family: "Edu VIC WA NT Beginner";
  font-weight: bolder;
  font-size: x-large;
  transition: 0.3s;
}

svg.pertama {
  margin-top: 80px;
}

.pembuka{
  background-color: hsl(61, 70%, 56%);
}

.tanggal {
  font-family: "Edu VIC WA NT Beginner";
  color: white;
}
.pembuka .judul {
  font-family: "Edu VIC WA NT Beginner";
  color: rgb(156, 7, 144);
  background-color: hsl(61, 70%, 56%);
}

section.doa {
  font-family: "Edu VIC WA NT Beginner";
}

.profil {
  background-color: hsl(61, 70%, 56%);
}

.profil111 {
  background-color: hsl(61, 70%, 56%);
}

.profil .judulprofil {
  font-family: "Edu VIC WA NT Beginner";
  text-align: center;
  color: rgb(156, 7, 144);
}

.profil .namacalon {
  font-family: "Edu VIC WA NT Beginner";
  font-size: 20px;
}

.galleri .judulgaleri {
  font-family: "Edu VIC WA NT Beginner";
  color: rgb(156, 7, 144);
}

.mengundang1 {
  background-color: hsl(61, 70%, 56%);
}

.lokasi {
  background-color: hsl(61, 70%, 56%);
}

.lokasi .judullokasi {
  font-family: "Edu VIC WA NT Beginner";
  color: rgb(156, 7, 144);
}

.lokasi .judullokasi a {
  text-align: start;
  text-decoration: none;
  color: rgb(156, 7, 144);
}

footer {
  font-family: "Edu VIC WA NT Beginner";
  color: rgb(156, 7, 144);
}

footer p a {
  text-decoration: none;
  color: rgb(156, 7, 144);
}
footer p a:hover {
  text-decoration: none;
  color: rgb(156, 7, 144);
}
