* body {
  color: #333333 !important;
  /* font-family: "Edu VIC WA NT Beginner"; */
  font-family: "Times New Roman";
}

/* Gaya untuk latar belakang backdrop */
.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.9); /* Ubah nilai alpha (0.5) sesuai kebutuhan */
}

/* Gaya untuk posisi modal */
.modal-dialog.modal-dialog-centered {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.bg {
  background-color: lightblue;
}

body nav a.navbar-brand {
  font-weight: bold;
  color: #333333;
}

body nav a.navbar-brand:hover {
  font-weight: bold;
  color: #0f0f0f;
}

body nav {
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

nav div.collapse ul li a {
  color: #333333;
  font-weight: bold;
  font-size: large;
}

nav div.collapse ul li a:hover {
  font-weight: bolder;
  font-size: x-large;
  transition: 0.3s;
  color: #0f0f0f;
}

svg.pertama {
  margin-top: 80px;
}

.tanggal {
  color: white;
}

.judul {
  color: #333333;
}

.profil .judulprofil {
  text-align: center;
  color: #333333;
}

.judullokasi a {
  text-align: start;
  text-decoration: none;
  color: #333333;
}

footer p a {
  text-decoration: none;
}
footer p a:hover {
  text-decoration: none;
  color: #0f0f0f;
}
